<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030438775387-04gfjtfc2dvn8j3c6hs6v6e7q5otjdls.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2NsKTikltMX4EXML5d4VKW_kkXQLzaDA</string>
	<key>GCM_SENDER_ID</key>
	<string>1030438775387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>videos.alarm.app</string>
	<key>PROJECT_ID</key>
	<string>videoalarm-a0b26</string>
	<key>STORAGE_BUCKET</key>
	<string>videoalarm-a0b26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030438775387:ios:d291262d4a0ce35d066d7e</string>
</dict>
</plist>